---
layout: default
title: Rotsen Acob | Web Developer
---
<div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/images/carlos-muza-84523-unsplash.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <div class="photo-container">
                <img src="/assets/images/rotsen-acob.jpg" alt="">
            </div>
            <h3 class="title">Rotsen Mark Acob</h3>
            <p class="category">Web Developer</p>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="button-container">
            <a href="https://www.upwork.com/freelancers/~01a71b09fe4afc532d" target="_blank" class="btn btn-primary btn-round btn-lg">Hire Me</a>
            <a href="mailto:acob.rotsen@hotmail.com" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="" data-original-title="Send me an email">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
        <h3 class="title">About Me</h3>
        <h5 class="description">I’m an experienced Web Developer with a demonstrated history of working in the information technology and services industry. Skilled in PHP, JavaScript, HTML5, Sass and the Command Line(CLI) and can worked on Linux, Windows and Unix environment.</h5>

        {% include skills.html %}

        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h4 class="title text-center">My Portfolio</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="nav-align-center">
                    <ul class="nav nav-tabs nav-tabs-primary justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link filter active" data-toggle="tab" data-filter="all" role="tablist">
                                All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link filter" data-toggle="tab" data-filter=".wordpress" role="tablist">
                                PSD to WordPress
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link filter" data-toggle="tab" data-filter=".html" role="tablist">
                                PSD to HTML
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link filter" data-toggle="tab" data-filter=".woocommerce" role="tablist">
                                PSD to WooCommerce
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link filter" data-toggle="tab" data-filter=".design" role="tablist">
                                Web Design
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link filter" data-toggle="tab" data-filter=".plugin" role="tablist">
                                WordPress Plugins
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid collections text-center gallery">
        <div class="row no-gutters">
            {% for portfolio in site.portfolio %}
                <div class="col-sm-3 mix {{portfolio.categories | join: ' '}}">
                    <a href="{{portfolio.image}}" title="{{portfolio.title}}" data-url="{{portfolio.website}}">
                        <img class="img-raised" src="{{portfolio.thumbnail}}" alt="{{portfolio.title}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>