<section id="js-scroll-to-about" class="w-full">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-7xl sm:text-9xl lg:text-14xl font-sacramento text-rose-900">Kamusta ...</h1>
    <hr class="lg:w-[1000px] h-1 border-rose-900 border-2 rounded-sm">
    <div class="md:text-2xl pt-8 md:pt-14 lead-9 lg:w-[650px]">
      <p class="mb-2 md:mb-6">I’m <span class="font-bold">Rotsen Mark Acob</span>, a <span class="font-bold">WordPress</span> & <span class="font-bold">Jamstack Developer</span>.</p>
      <p>I develop and design <span class="font-bold">accessible</span> & <span class="font-bold">responsive websites</span> for SMEs using the latest web technologies.</p>
    </div>
  </div>
</section> <!-- About Section -->