<div class="section section-about">
    <div class="container">
        <div class="button-container">
            <a href="mailto:info@rotsenacob.com" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="" data-original-title="Send me an email">
                <i class="fa fa-envelope"></i> Email Me
            </a>
            <!-- <a href="https://www.upwork.com/o/profiles/users/_~01a71b09fe4afc532d/" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="" data-original-title="Hire Me!">
                <i class="fa fa-user-plus"></i> Hire Me!
            </a> -->
            <a href="/assets/documents/acob_rotsen-resume.pdf" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="" data-original-title="Download resume">
                <i class="fa fa-download"></i> Resume
            </a>
        </div>
        <h3 class="title">About Me</h3>
        <h5 class="description">I’m an experienced web developer with a demonstrated history of working in the information technology and services industry. I'm skilled in PHP, JavaScript, HTML5, Sass and the Command Line(CLI) and can worked on Linux, Windows and Unix environment.</h5>
    </div>
</div>