<section id="js-scroll-to-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="u-pull-half text-center">
                    {% avatar webdevsuperfast size=200 class=img-fluid %}
                </div> 
            </div>
        </div>
        <div class="row u-content-space-bottom">
            <div class="col-lg-12 mb-5 mb-lg-5 pl-lg-5">
                <header class="text-center w-md-60 mx-auto mb-8">
                    <h2 class="h1">About Me</h2>
                    <p class="h5">I’m an experienced WordPress developer with a demonstrated history of working in the information technology and services industry. I'm skilled in PHP(WordPress), JavaScript, HTML5, Sass and the Command Line(CLI) and can worked on Linux, Windows and Unix environment.</p>
                </header>
            </div>
        </div>
    </div>
</section> <!-- About Section -->