<section id="contact" class="section section-contact text-center u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Let's Talk</h2>
            <p class="h5">Thanks for taking the time contacting me. Please send me information on your project so I can determine how can I help you.</p>
        </header>
        <form class="text-center w-md-75 mx-auto" action="https://formspree.io/info@rotsenacob.com" method="POST">
            <div class="row">
                <div class="col-lg-6 form-group mb-4">
                    <input type="text" class="form-control" placeholder="Full Name">
                </div>
                <div class="col-lg-6 form-group mb-4">
                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                </div>
                <div class="col-lg-12 form-group mb-6">
                    <textarea name="message" cols="80" rows="4" class="form-control form-control-lg" placeholder="Your Message"></textarea>
                </div>
                <div class="text-center col-lg-12">
                    <input type="hidden" name="_next" value="{{ '/thank-you/' | relative_url }}">
                    <input type="hidden" name="_cc" value="acob.rotsen@hotmail.com">
                    <input type="hidden" name="_subject" value="New submission!" />
                    <input type="hidden" name="_format" value="plain" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <button type="submit" class="btn btn-lg btn-primary py-3 px-4">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</section>