<div id="js-scroll-to-experience" class="section section-experience u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Work Experience</h2>
            <p class="h5">I have worked for various digital web agencies from all over the world from Australia to the United States.</p>
        </header>
        <ul class="timeline">
            {% for experience in site.data.experience %}
            {%- assign dates = experience.date -%}
            {% capture time %}
                {% for time in dates %}
                    {{ time.start }} - {{ time.end }}
                {% endfor %}
            {% endcapture %}

            {%- assign obligation = experience.summary -%}
            {%- capture list -%}
                <ul class="list-group list-group-flush">
                {%- for list in obligation -%}
                    <li class="list-group-item">{{ list }}</li>    
                {%- endfor -%}
                </ul>
            {%- endcapture -%}
            <li class="{% cycle '', 'timeline-inverted' %}">
                <div class="timeline-badge fa-stack fa-2x" data-toggle="tooltip" data-placement="{% cycle 'right', 'left' %}" data-original-title="{{ time }}">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                </div>
                <div class="timeline-panel rounded col-md-6 px-md-6 {% cycle '', 'offset-md-6' %}">
                    <div class="card">
                        <div class="card-header bg-primary text-light">
                            {{ experience.company }}
                            <span class="badge badge-light ml-2">{{ experience.position }}</span>
                        </div>
                        {{ list }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>