<div id="js-scroll-to-experience" class="section section-experience u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Work Experience</h2>
            <p class="h5">I have worked for various digital web agencies all over the world from Australia and the United States.</p>
        </header>
        
        {% for experience in site.data.experience %}
        {%- assign dates = experience.date -%}
        {% capture time %}
            {% for time in dates %}
                {{ time.start }} - {{ time.end }}
            {% endfor %}
        {% endcapture %}

        {%- assign obligation = experience.summary -%}
        {%- capture list -%}
            <ul class="">
            {%- for list in obligation -%}
                <li class="">{{ list }}</li>    
            {%- endfor -%}
            </ul>
        {%- endcapture -%}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 {% cycle '', 'timeline-inverted' %}">
            <div class="resume-content">
                <h3 class="mb-0">{{ experience.position }}</h3>
                <div class="subheading mb-3 text-primary">{{ experience.company }}</div>
                {{ list }}
            </div>
            <div class="resume-date text-md-right">
                <span class="text-muted">{{ time }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>