</main> <!-- End Main -->
{% if page.layout == "default" %}
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
                    <small class="text-white">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Rotsen Acob. All Rights Reserved.
                    </small>
            </div>
            <div class="col-md-4 align-self-center">
                {% if site.data.social %}
                <ul class="list-inline text-center text-md-right mb-0">
                    {% for social in site.data.social %}
                        {% if social.icon == 'envelope' or social.icon == 'file-pdf-o' %}
                            {% continue %}
                        {% else %}
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="{{ social.title }}">
                                <a class="text-white" href="{{ social.url }}">
                                    <i class="fab fa-{{ social.icon }}"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
{% endif %}
<!-- <script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}" defer></script> -->
<script src="{{ '/assets/js/mixitup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}" defer></script>
<script>
    // Set the options to make LazyLoad self-initialize	
    window.lazyLoadOptions = {	
        elements_selector: ".lazyload"	
    };
    // Listen to the initialization event and get the instance of LazyLoad	
    window.addEventListener('LazyLoad::Initialized', function (event) {	
        window.lazyLoadInstance = event.detail.instance;	
    }, false);
</script>
<script src="{{ '/assets/js/lazyload.min.js' | relative_url }}" async></script>

<script>
    (function($){
        var containerEl = document.querySelector('.collections');
        var mixer = mixitup(containerEl, {
            callbacks: {
                onMixStart: function(state,futureState){
                }
            }
        });

        // Magnific Popup
        $(document).ready(function(){
            $('.gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        if ( item.el.data("url") ) {
                            return '<a target="_blank" href="'+item.el.data("url")+'">Visit Site</a>';
                        } else {
                            return '';
                        }
                    }
                }
            });
        });
    })(jQuery);
</script>
</body>
</html>