  </main> <!-- End Main -->
  {% if page.layout == "default" %}
  <footer class="pb-24">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative">
        {% if site.data.social %}
          <!-- <span class="">
            {% for social in site.data.social %}
              <a class="text-white" href="{{ social.url }}">
                {{ social.name }}
              </a>
            {% endfor %}
          </span> -->
        {% endif %}
        <button class="p-5 bg-rose-900 rounded-2xl rounded-br-none absolute right-0 bottom-0 hover:bg-rose-700">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="10" y1="1" x2="10" y2="19" stroke="white" stroke-width="2" stroke-linecap="round"/>
            <line x1="19" y1="10" x2="1" y2="10" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>            
        </button>
      </div>
    </div>
  </footer><!-- End Footer -->
  {% endif %}
</div><!-- end Site Container -->
<script src="{{ '/assets/js/mixitup.min.js' | relative_url }}"></script>
<script>
  // Set the options to make LazyLoad self-initialize	
  window.lazyLoadOptions = {	
    elements_selector: ".lazyload"	
  };
  // Listen to the initialization event and get the instance of LazyLoad	
  window.addEventListener('LazyLoad::Initialized', function (event) {	
    window.lazyLoadInstance = event.detail.instance;	
  }, false);
</script>
<script src="{{ '/assets/js/lazyload.min.js' | relative_url }}" async></script>

<script>
  var containerEl = document.querySelector('.collections');
  var mixer = mixitup(containerEl, {
    callbacks: {
      onMixStart: function(state,futureState){
      }
    }
  });
</script>
</body>
</html>