<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="f1pibpLr0O-CAKHRGuwJGGCoPFcYi8AR44YzMxc0fh0" />
    <meta name="msvalidate.01" content="F7E7125AA252E622EA9ED516931281E1" />
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <style>
        .progress-bar {
            transition-duration: 3s;
        }
        .skills {
            margin-bottom: 40px;
        }
    </style>
</head>
<body class="profile-page sidebar-collapse">