<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"> 
  <style>{% include critical.css %}</style>
  <link rel="preload" href="{{ '/assets/css/app.css' | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
  </noscript>
  <script src="{{ '/assets/js/app.min.js' | relative_url }}" defer></script>
  <meta name="google-site-verification" content="f1pibpLr0O-CAKHRGuwJGGCoPFcYi8AR44YzMxc0fh0" />
  <meta name="msvalidate.01" content="F7E7125AA252E622EA9ED516931281E1" />
  <meta name="description" content="{{ page.description }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}" type="image/x-icon">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
{% assign bg = site.page_background %}
<body data-bg="{{ bg | relative_url }}" class="bg-cover bg-fixed bg-no-repeat lazy">