<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="f1pibpLr0O-CAKHRGuwJGGCoPFcYi8AR44YzMxc0fh0" />
    <meta name="msvalidate.01" content="F7E7125AA252E622EA9ED516931281E1" />
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>