<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" title="{{page.title}}">
                Rotsen Acob
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        {% if site.data.social %}
        <div class="collapse navbar-collapse justify-content-end" data-nav-image="/assets/images/blurred-image-1.jpg">
            <ul class="navbar-nav">
                {% for social in site.data.social %}
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="{{ social.title }}" data-placement="bottom" href="{{ social.url }}" target="_blank">
                        <i class="fa fa-{{ social.icon }}"></i>
                        <p class="d-lg-none d-xl-none">{{ social.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif  %}
    </div>
</nav>
<div class="wrapper">