<header>
    <nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="{{ 'assets/images/logo.svg' }}" alt="Rotsen Mark Acob" width="50">
                </a>
    
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarTogglerDemo"
    
                        aria-controls="navbarTogglerDemo"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav mt-2 mt-lg-0 mr-auto">
                    <li class="nav-item mr-4 mb-2 mb-lg-0">
                    <a class="nav-link active" href="">Rotsen Mark Acob</a>
                    </li>
                </ul>
                <div>
                    <a class="btn btn-primary" href="#contact">
                    <i class="fas fa-envelope mr-1"></i> Contact Me
                    </a>
                </div>
                </div>
            </div>
    </nav>