    {% assign bg = site.page_background %}
    <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" style="background-image: url('{{ bg | relative_url }}');">
        <div class="container u-overlay__inner u-ver-center u-content-space">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="display-sm-4 display-lg-3">Rotsen Mark Acob</h1>
                        <p class="h6 text-uppercase u-letter-spacing-sm mb-2">WordPress Developer</p>
                        {% if site.data.social %}
                        <ul class="list-inline text-center mb-0">
                            {% for social in site.data.social %}
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="{{ social.title }}">
                                <a class="text-white" href="{{ social.url }}">
                                    {% if social.icon == 'envelope' or social.icon == 'file-pdf' %}
                                        <!-- <i class="fas fa-{{ social.icon }}"></i> -->
                                    {% else %}
                                        <!-- <i class="fab fa-{{ social.icon }}"></i> -->
                                    {% endif %}
                                    <i class="fa fa-{{ social.icon }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</header><!-- End Header -->
<main role="main">