<div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/images/carlos-muza-84523-unsplash.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <div class="photo-container">
                <img class="lazyload" data-src="/assets/images/rotsen-acob.jpg" alt="Rotsen Mark Acob">
            </div>
            <h3 class="title">Rotsen Mark Acob</h3>
            <p class="category">Web Developer</p>
        </div>
    </div>
</div>