<section id="js-scroll-to-portfolio" class="u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">My Portfolio</h2>
            <p class="h5">I design and develop themes and plugins that make people's lives easy and simple.</p>
        </header>
        <ul class="js-shuffle-controls u-portfolio-controls text-center mb-5">
            <li class="u-portfolio-controls__item"><a href="#!" data-group="all" class="active">All</a></li>
            <li class="u-portfolio-controls__item"><a href="#!" data-group="wordpress">PSD to WordPress</a></li>
            <li class="u-portfolio-controls__item"><a href="#!" data-group="html">PSD to HTML</a></li>
            <li class="u-portfolio-controls__item"><a href="#!" data-group="woocommerce">PSD to WooCommerce</a></li>
            <li class="u-portfolio-controls__item"><a href="#!" data-group="design">Web Design</a></li>
            <li class="u-portfolio-controls__item"><a href="#!" data-group="plugin">WordPress Plugins</a></li>
        </ul>
        <div class="js-shuffle u-portfolio row no-gutters mb-6">
            {% for portfolio in site.data.portfolio %}
            {%- assign categories = portfolio.category -%}
            {% capture cat %}
                {% for category in categories %}
                    {%- if forloop.first == true -%}
                        {%- if forloop.length > 1 -%}
                            {{- category | capitalize | append: ', ' -}}
                        {%- else -%}
                            {{- category | capitalize -}}
                        {%- endif -%}
                    {%- else -%}
                        {{- category | capitalize -}}
                    {%- endif -%}
                {% endfor %}
            {% endcapture %}
            {% assign groups = portfolio.category | split: ' ' | size %}
            {%- capture group -%}
                {%- if groups > 1 -%}
                    {{ portfolio.category | jsonify }}
                {%- else -%}
                    [{{ portfolio.category | jsonify }}]
                {%- endif -%}
            {%- endcapture -%}
            <figure class="col-sm-6 col-md-4 u-portfolio__item {{portfolio.category | join: ' '}}" data-groups='{{group}}'>
                <img class="u-portfolio__image" src="{{ '/assets/images/thumbs/' | relative_url }}{{portfolio.thumbnail}}" alt="{{portfolio.title}}">
                <figcaption class="u-portfolio__info">
                    <h6 class="mb-0">{{ portfolio.title }}</h6>
                    <small class="d-block">{{ cat }}</small>
                </figcaption>
                <a class="js-popup-image u-portfolio__zoom" href="{{ '/assets/images/' | relative_url }}{{portfolio.image}}">Zoom</a>
            </figure>
            {% endfor %}
        </div>
    </div>
</section>