<section id="js-scroll-to-portfolio" class="flex w-full scroll-mt-24 sm:min-h-screen relative">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 lg:py-8 relative" x-data="{ filterOpen: false }">
    <div class="filter-container relative flex flex-nowrap place-content-between items-center py-10">
      <h2 class="section-title text-4xl sm:text-6xl grow">Portfolio</h2>
      <div class="filter-block">
        <div class="block xl:hidden filter-menu relative">
          <button
            x-on:click="filterOpen = ! filterOpen"
            class="flex items-center space-x-2 focus:outline-none">
            <span class="font-medium text-lg">Filter</span>
            
            <div class="w-10 flex items-center justify-center relative">
              <span class="transform transition w-full rounded h-1 bg-current absolute -translate-y-3"
              ></span>
              <span class="transform transition w-4/5 rounded h-1 bg-current absolute"
              ></span>
              <span class="transform transition rounded w-3/5 h-1 bg-current absolute translate-y-3"
              ></span>
            </div>
          </button>
          <div x-show="filterOpen" x-transition class="text-sm uppercase absolute rounded-xl w-40 right-0 bg-rose-900 z-10 overflow-hidden py-3">
            <a data-filter="all" class="filter uppercase hover:text-rose-900 transition-colors block px-3 text-center py-2 hover:bg-rose-700">All</a>
            {% assign filter_category = site.data.category | sort: "name" %}
            {% for category in filter_category %}
              <a class="filter uppercase hover:bg-rose-700 hover:text-rose-900 transition-colors block px-3 py-2 text-center" data-filter=".{{ category.slug }}" class="filter">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
        <div x-transition class="hidden w-full flex-none mt-4 sm:mt-0 sm:w-auto sm:ml-auto xl:flex items-center space-x-6 uppercase">
          <a data-filter="all" class="filter uppercase hover:text-rose-900 transition-colors">All</a>
          {% assign filter_category = site.data.category | sort: "name" %}
          {% for category in filter_category %}
            <a class="filter uppercase hover:text-rose-900 transition-colors" data-filter=".{{ category.slug }}" class="filter">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="collections grid grid-cols-none sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 snap-proximity overflow-x-auto relative overflow-y-hidden">
      {% for portfolio in site.data.portfolio %}
      {%- assign categories = portfolio.category -%}
        {% capture cat %}
            {% for category in categories %}
                {%- if forloop.first == true -%}
                    {%- if forloop.length > 1 -%}
                        {{- category | capitalize | append: ', ' -}}
                    {%- else -%}
                        {{- category | capitalize -}}
                    {%- endif -%}
                {%- else -%}
                    {{- category | capitalize -}}
                {%- endif -%}
            {% endfor %}
        {% endcapture %}
        {% assign groups = portfolio.category | split: ' ' | size %}
        {%- capture group -%}
            {%- if groups > 1 -%}
                {{ portfolio.category | jsonify }}
            {%- else -%}
                [{{ portfolio.category | jsonify }}]
            {%- endif -%}
        {%- endcapture -%}
        <figure class="mix portfolio w-100 {{ portfolio.category | join: ' ' }}">
          <img class="portfolio-image rounded-3xl rounded-br-none overflow-hidden mb-2 w-full object-cover h-[250px] lazy" data-src="{{ '/assets/images/thumbs/' | relative_url }}{{ portfolio.image }}" alt="{{ portfolio.title }}" />
          <figcaption class="portfolio-info">
            <h6 class="mb-0 text-white">{{ portfolio.title }}</h6>
            <!-- <p class="text-xs text-gray-200">{{ cat }}</p> -->
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>
</section> <!-- About Section -->