{% if site.data.testimonials %}
<div class="section section-testimonial">
    <div class="container">
        <div class="row">
            <div class="col text-center ml-auto mr-auto">
                <h4 class="title">Testimonials</h4>
                <div class="testimonials row">
                    <div class="col-md-12">
                        <div id="client-testimonial" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for testimonial in site.data.testimonials %}
                                    <div class="carousel-item
                                    {% if forloop.first == true %}
                                        active
                                    {% endif %}
                                    ">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-6 offset-md-3">
                                                    <p class="h4">{{ testimonial.review }}</p>
                                                    <small class="blockquote-footer">
                                                        {{ testimonial.name }}
                                                        {%  if testimonial.location %} 
                                                        from <cite>{{ testimonial.location }}</cite>
                                                        {% endif %}
                                                    </small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- <a class="carousel-control-prev" href="#client-testimonial" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a> -->
                            <!-- <a class="carousel-control-next" href="#client-testimonial" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a> -->
                            <ol class="carousel-indicators">
                                {% for testimonial in site.data.testimonials %}
                                    <li data-target="#client-testimonial" data-slide-to="{{ forloop.index0 }}" class="
                                    {% if forloop.first == true %}
                                        active
                                    {% endif %}"
                                    ></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}