{% if site.data.testimonials %}
<section class="section section-testimonial u-content-space bg-light">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Testimonials</h2>
            <p class="h5">Do not take my words, check out what people say about me!</p>
        </header>
        <div class="row">
            {% if site.data.testimonials %}
            {% for testimonial in site.data.testimonials %}
                <div class="col-lg-6 mb-7 mb-lg-7 px-lg-5">
                    <blockquote class="u-blockquote-v2 rounded mb-5">{{ testimonial.review }}</blockquote>
                    <div class="media u-font-size-90">
                        <img class="d-flex align-self-center rounded-circle u-blockquote-v2__image u-box-shadow-lg mx-3 mt-2" src="{{ '/assets/images/upwork.png' }}" alt="{{ testimonial.name }}">
                        <div class="media-body align-self-center">
                            <strong class="d-block">{{ testimonial.name }}</strong>
                            {% if testimonial.location %}
                            <span class="u-font-size-75 text-dark">{{ testimonial.location }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}