{% if site.data.testimonials %}
<div class="section section-testimonial">
    <div class="container">
        <div class="row">
            <div class="col text-center ml-auto mr-auto">
                <h4 class="title">Testimonials</h4>
                <div class="testimonials row">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial col-md-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <blockquote class="blockquote blockquote-primary mb-0">
                                    <p>{{ testimonial.review }}</p>
                                    <footer class="blockquote-footer">{{ testimonial.name }}
                                        {%  if testimonial.location %} 
                                        from <cite>{{ testimonial.location }}</cite>
                                        {% endif %}
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}