@import 'variable';

@import '../../node_modules/font-awesome/scss/font-awesome.scss';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Now UI Kit
@import '../../node_modules/now-ui-kit/assets/sass/now-ui-kit';

.nav-tabs {
    @include media-breakpoint-down(sm) {
        padding: {
            left: 0;
            right: 0;
        }
    }
}

// Lazysizes
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

/** ## About 
----------------------------------------------------------------------------- */
.profile-page h5.description {
    margin-bottom: 20px;
}

/** ## Portfolio
----------------------------------------------------------------------------- */
.section-skills {
    background: #eee;
}

/* ## Testimonial
----------------------------------------------------------------------------- */
.section-testimonial {
    background: #eee;
}

/* ## Contact Form
----------------------------------------------------------------------------- */
.section-contact {
    .send-button {
        margin-top: 35px;
    }
}

/* ## Carousel
----------------------------------------------------------------------------- */
.carousel {
    padding-bottom: 50px;
    .carousel-inner {
        box-shadow: none;
    }
}

.carousel-indicators {
    li {
        background-color: $primary-color;
    }
}

/* ## Magnific Popup
----------------------------------------------------------------------------- */
.mfp-title {
    font-size: 14px;
}