@import 'variable';

// @import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

// Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap';

// Now UI Kit
// @import '../../node_modules/now-ui-kit/assets/sass/now-ui-kit';

// Bootstrap
@import '../../node_modules/stream/assets/include/scss/vendors/bootstrap/bootstrap.scss';

// Stream UI Kit
@import '../../node_modules/stream/assets/include/scss/styles.scss';

@import '../../node_modules/stream/assets/vendors/magnific-popup/magnific-popup';

.avatar {
	@extend .img-fluid; 
	// @extend .u-avatar;
	// @extend .u-box-shadow-lg;
	// @extend .rounded-circle;
	@extend .mb-3;
}

// Lazysizes
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

// Magnific Popup
.mfp-title.mfp-title {
	a {
		color: #fff;
		font-size: 12px;
	}
}

.mixitup-control-active {
	@extend .active;
}

// Timeline
.timeline {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	padding: 20px 0;
	&::before {
		content: '';
		top: 0;
		bottom: 0;
		position: absolute;
		width: 3px;
		background-color: #f6f9fc;
		left: 50%;
		margin-left: -1.5px;
	}
	& > li {
		margin-bottom: 20px;
		position: relative;
		&::before, &::after {
			content: '';
		}
		& > .timeline-badge {
			position: absolute;
			left: 50%;
			margin-left: -40px;
			@include media-breakpoint-up(lg){
				top: -7px;
			}
		}
		& > .timeline-panel {

		}
	}
}

// Programming Languages
.programming-languages {
	li {
		@extend .text-muted;
		&:hover {
			@extend .text-primary;
		}
	}
}