<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
</head>
<body class="profile-page sidebar-collapse">
    {{ content }}
    <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/now-ui-kit.min.js' | relative_url }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFontConfig = {
            google: { families: [ 'Montserrat:200,200i,400,400i,700,700i' ] },
            active: function() {
                sessionStorage.fonts = true;
            }
        };
        var $source = pref.webfont;
        (function() {
            var wf = document.createElement('script');
            wf.src = $source;
            wf.type = 'text/javascript';
            wf.async = 'true';

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    </script>
</body>
</html>