<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
</head>
<body class="profile-page sidebar-collapse">
    {{ content }}
    <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/now-ui-kit.min.js' | relative_url }}"></script>
</body>
</html>