<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
</head>
<body class="profile-page sidebar-collapse">
    {{ content }}
    <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/now-ui-kit.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/mixitup.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
    <script>
        (function($){
            var containerEl = document.querySelector('.collections');
            var mixer = mixitup(containerEl, {
                callbacks: {
                    onMixStart: function(state,futureState){
                    }
                }
            });

            // Magnific Popup
            $(document).ready(function(){
                $('.gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: 'Loading image #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {
                        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                        titleSrc: function(item) {
                            return item.el.attr('title') + '<small>'+ item.el.data('client') +'</small>';
                        }
                    }
                });
            });
        })(jQuery);
    </script>
    <script>
        WebFontConfig = {
            google: { families: [ 'Montserrat:200,200i,400,400i,700,700i' ] },
            active: function() {
                sessionStorage.fonts = true;
            }
        };
        var $source = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        (function() {
            var wf = document.createElement('script');
            wf.src = $source;
            wf.type = 'text/javascript';
            wf.async = 'true';

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    </script>
</body>
</html>